html {
  background-image: url("../images/alex-perez-pEgsWN0kwbQ-unsplash.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: cover;

}

/* #root {
  height: 100vh;
} */


.cursive-font {
  font-family: 'Snell Roundhand', cursive;
  font-size: 2rem;
}

.align-right {
  float: right;
}

.page-container {
  margin: auto;
  margin-top: 50px;
  max-width: 800px;
  font-family: sans-serif;
  background-color: white;
  padding: 2rem;
  
}

img {
  margin: 15px 0px 15px 0px;
}
