.dndcontext {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;

}

.dndcontext2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: row;
}

.column {
  margin: 0px 50px 0px 50px;
  flex-grow: 1;
  height: 80vh;
  
}

.list {
  background-color: lightcoral;
}

@media (max-width: 600px) {
  .dndcontext {
    width: 240px;
    height: 240px;
  }
}
